<%= form_with(model: grid) do |form| %>
  <% if grid.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(grid.errors.count, "error") %> prohibited this grid from being saved:</h2>

      <ul>
        <% grid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dimension, style: "display: block" %>
    <%= form.text_field :dimension, readonly: true %>
  </div>

  <br/>

  <div>
    <%= form.label :rows, style: "display: block" %>
    <label style="display: block"><small>Insert rows separated by comma.</small></label>
    <label style="display: block"><small>Example 1:</small></label>
    <label style="display: block"><small>Dimension: 3. Rows: '001,010,011'</small></label>
    <label style="display: block"><small>Example 2:</small></label>
    <label style="display: block"><small>Dimension: 5. Rows: '00001,00010,00011,00100,00101'</small></label>
    <%= form.text_field :rows, required: true %>
  </div>
  
  <br/>

  <div>
    <%= form.submit %>
  </div>
<% end %>
