<h3>Create randomly</h3>
<%= form_with model: grid, url: {action: "random_new"}, method: "get" do |form| %>
  <%= form.label :dimension, style: "display: block" %>
  <%= form.number_field :dimension, min: 2 %>
  <%= form.hidden_field :random, value: true %>
  <div>
    <%= form.submit %>
  </div>
<% end %>