<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render "new_grid", grid: @grid %>
<%= render "new_random_grid", grid: @grid %>

<p>
  <%= render "import" %>
</p>

<h1>Grids</h1>
<div id="grids">
  <% @grids.each do |grid| %>
    <%= render grid, rows: [] %>
    <p>
      <%= link_to "Show this grid", grid %>
    </p>
  <% end %>
</div>
