<p style="color: green"><%= notice %></p>

<%= render @grid, rows: @rows %>
<%= render "solutions", solutions: @grid.solutions, rows: @rows %>

<div>
  <%= link_to "Back to grids", grids_path %>

  <%= button_to "Destroy this grid", @grid, method: :delete %>
</div>
