<p style="color: green"><%= notice %></p>

<%= render @grid %>

<div>
  <%= link_to "Edit this grid", edit_grid_path(@grid) %> |
  <%= link_to "Back to grids", grids_path %>

  <%= button_to "Destroy this grid", @grid, method: :delete %>
</div>
